*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

min-height:100vh;

background:
linear-gradient(
135deg,
#fff2f7,
#f6efff
);

font-family:Poppins,sans-serif;

overflow:hidden;

display:flex;
justify-content:center;
align-items:center;
}

.container{
width:100%;
max-width:420px;
padding:20px;
text-align:center;
}

.badge{

display:inline-block;

padding:12px 20px;

background:white;

border-radius:40px;

font-size:12px;

letter-spacing:3px;

color:#d287a4;

margin-bottom:40px;
}

h1{

font-family:
'Cormorant Garamond',
serif;

font-size:58px;

line-height:0.95;

color:#40315f;
}

h2{

margin-top:18px;

font-size:24px;

font-weight:400;

color:#ef8eb4;
}

.cat-box{
margin-top:35px;
}

.cat-box img{
width:120px;
}

.envelope-box{

margin-top:50px;
}

.envelope-box img{

width:400px;

cursor:pointer;

transition:.4s;
}

.envelope-box img:hover{
transform:scale(1.03);
}

.tap{

margin-top:30px;

letter-spacing:4px;

font-size:11px;

color:#c28ba2;
}

.floating{

position:absolute;

font-size:22px;

color:#efb5c8;

animation:float 8s infinite linear;
}

.f1{
left:8%;
top:10%;
}

.f2{
right:10%;
top:25%;
animation-delay:2s;
}

.f3{
left:20%;
bottom:20%;
animation-delay:4s;
}

@keyframes float{

0%{
transform:
translateY(0px)
rotate(0deg);
}

50%{
transform:
translateY(-20px)
rotate(10deg);
}

100%{
transform:
translateY(0px)
rotate(0deg);
}
}